.Main {
    width: 100%;
    min-height: 600px;
    position: relative;
}

.MainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media(max-width: 900px) {
    .Main {
        min-height: 300px;
    }
}

@media(max-width: 500px) {
    .Main {
        min-height: 200px;
    }
}
